<html>
<head>
<title>Esqueci minha senha</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>

<table width="600" border="0" align="center" style="margin:0 auto;" cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<td width="600" height="100" colspan="3" align="center" bgcolor="#3e6787">
				<a href="#" target="_blank"><img src="#LOGO#" alt="" width="120"></a>
			</td>
		</tr>
		<tr><td width="600" height="6" colspan="3" bgcolor="#FFFFFF"></td></tr>
		<tr><td width="600" height="2" colspan="3" bgcolor="#cccccc"></td></tr>
	</thead>
	<tbody>
		<tr><td width="600" height="60" colspan="3" bgcolor="#FFFFFF"></td></tr>
		<tr>
			<td width="67" bgcolor="#FFFFFF"></td>
			<td width="466" align="center" valign="top" bgcolor="#FFFFFF">
				<p style="font-family: Arial, Sans-serif; font-size: 23px; color: #656565;">
					Ol&aacute;, <strong style="color:#3e6787;">#NOME_USUARIO#</strong>
				</p>
				<p style="font-family: Arial, Sans-serif; font-size: 17px; line-height: 40px; color: #656565;">
					Esqueceu sua senha? N&atilde;o se preocupe!
				</p>
<!-- 				<p style="font-family: Arial, Sans-serif; font-size: 17px; color: #656565;"> -->
<!-- 					Voc&ecirc; solicitou a altera&ccedil;&atilde;o de senha do CPF: -->
<!-- 				</p> -->
<!-- 				<p style="font-family: Arial, Sans-serif; font-size: 23px; color: #656565;"> -->
<!-- 					<strong style="color:#3C72A8;">#DOCUMENTO#</strong> -->
<!-- 				</p> -->
				<p style="font-family: Arial, Sans-serif; font-size: 17px; color: #656565;">
					Esta &eacute; a sua senha:
				</p>
				<p style="font-family: Arial, Sans-serif; font-size: 23px; color: #656565;">
					<strong style="color:#3e6787;">#SENHA#</strong>
				</p>
<!-- 				<a href="#SITE_ROOT#/cliente/esqueci-senha/#TOKEN#"  target="_blank" style="color:#FFFFFF; text-decoration:none;"> -->
<!-- 					<img src="#BTN_CLIQUE#" alt="Clique Aqui"> -->
<!-- 				</a> -->
<!-- 				<br /> -->
<!-- 				<p style="font-family: Arial, Sans-serif; font-size: 17px; color: #656565;"> -->
<!-- 					Caso n&atilde;o visualize o bot&atilde;o acima, copie o link abaixo: -->
<!-- 					<a href="#SITE_ROOT#/usuario/esqueci-senha/#TOKEN#"  target="_blank" style="color:#656565; text-decoration:none;"> -->
<!-- 					#SITE_ROOT#/usuario/esqueci-senha/#TOKEN# -->
<!-- 					</a> -->
<!-- 				</p> -->
			</td>
			<td width="67" bgcolor="#FFFFFF"></td>
		</tr>
		<tr><td width="600" height="60" colspan="3" bgcolor="#FFFFFF"></td></tr>
	</tbody>
</table>

</body>
</html>
